<span id="pagename"><h1>About</h1></span>

<p>Do you and your friends enjoy the odd pick-up game?  Do you ever have trouble picking teams
that result in a competitive match?  Do you ever find yourself disappointed and wonder if there
couldn't be a better way to choose sides?  Enter the ROSTERizer!</p>

<p>The ROSTERizer has been designed with state-of-the-art algorithms to make your game competitive
and exciting.  After setting up your friends as players in the system, simply click the New Game 
link to begin.  You can choose from the roster of players, those who are available for the current 
contest, and when you save your choices a list of home and away teams is generated for you 
automatically!</p>

<p>Never have a dull match again; use ROSTERizer for your next pick-up game!</p>
