<h1>New Game</h1>

<%= form_for(@game) do |f| %>

<%= render :partial => 'form' %>

  <div class="actions">
    <fieldset>
      <%= f.submit %>
      <%= link_to 'Back', games_path %>
    </fieldset>
  </div>
<% end %>
