<span id="pagename"><h1>New Game</h1></span>

<p>Enter the game time, names for teams, and who is available to play.  Then click 
the <b>"Create Teams"</b> button, to get the team assignments for your pick-up game.</p>

<%= form_for(@game) do |f| %>

<%= render :partial => 'form' %>

  <div class="actions">
    <fieldset>
      <%= f.submit %>
      <%= link_to 'Back', games_path %>
    </fieldset>
  </div>
<% end %>
