/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
fieldset {
  width: 30em;
}
fieldset fieldset {
  width: auto;
}
label {
  display: block;
  font-weight: bold;
  margin-left: 0.5em;
}
label:after {
  content: ':';
}
input {
  margin-left: 0.5em;
}
select {
  margin-left: 0.5em;
}
legend {
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: larger;
}
.field {
  margin-left: 0.5em;
}